body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #c3ceaf;

}
.parent{
    display: flex;
    justify-content:center;
    border: 3px solid rgb(27, 161, 92);
    padding: 10px;
    height: 580px;
    width: 810px;
}
.abc{
    position: absolute;
    top: 40px;
    left: 160px;
}
.dir{
    float: left;
    align-items: center;
    background-color: rgb(43, 221, 218);
    max-height: 570px;
    max-width: 210px;
    width: auto;
    border: 3px solid rgb(203, 22, 31);
    padding: 10px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.dit{
display: block;
padding: auto;
margin-bottom: 30px;
text-align: justify;
flex: auto;
max-height: 480px;
    max-width: 607px;
}
.html{
    height: 100%;
}